body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

#particles-js {
    height: 100%;
    background-image: url(5a3ed79be9555a6dab20b49dc423b840.jpg);
    background-size: cover;
    background-position: center;
    @media only screen and (min-width: 320px) and (max-width: 480px) {
        background: url(5a3ed79be9555a6dab20b49dc423b840.jpg) no-repeat center center fixed;
    }
}

header {
    float: left;
}

#thefile {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 100;
}

#canvas {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 60px 30px #fff, 0 0 100px 60px #f0f, 0 0 140px 90px #0ff;
}

audio {
    position: fixed;
    left: 10px;
    bottom: 10px;
    width: calc(100% - 20px);
}